<div class="row">
	<div class="col-xs-12">
        <div class="widget-bg-color-icon card-box">
	        <div class="row">
	        	<div class="col-xs-2">
	                <div class="form-group">
	                    <label>Менеджер</label>
	                    <div class="row">
	                    	<div class="col-xs-11">
	                    		<div one-select model="filter.user" list="list.users"></div>
	                    	</div>
	                    </div>
	                </div>
		        </div>
		        <div class="col-xs-5">
		    		<div class="form-group">
						<label class="m-r-10">Фильтр по дате</label>
						<div class="checkbox checkbox-primary" style="display: inline-block; margin: 0;">
							<input type="checkbox" id="checkbox" value="checkbox" ng-model="filter.detailed">
							<label class="clarify noselect" for="checkbox">уточнить</label>
						</div>

		    			<div ng-hide="filter.detailed" fast-date from="filter.fast_duration.from" to="filter.fast_duration.to"></div>
		    			<div ng-show="filter.detailed" class="row">
	                    	<div class="col-xs-5">
	                    		<input type="text" class="form-control" placeholder="дд.мм.гг" jqdatepicker ng-model="filter.duration.from">
	                    	</div>
	                    	<div class="form-between dash"></div>
	                    	<div class="col-xs-5">
	                    		<input type="text" class="form-control" placeholder="дд.мм.гг" jqdatepicker ng-model="filter.duration.to">
	                    	</div>
	                    </div>
		    		</div>
			    </div>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-xs-12">
        <div class="widget-bg-color-icon card-box">
			<h4 class="text-dark">Реестр броней</h4>
			<br>
			<div class='row' ng-show="preload.brones || preload.clients">
				<div class="col-xs-1 col-xs-offset-5">
			    	<img src="assets/images/preloader.gif"  alt="">
				</div>
			</div>

			<div ng-hide="preload.brones || preload.clients">
				<h4 class="text-dark" style="font-weight: normal;">
					Количество броней: {{result.length}}
				</h4>
				<br>


	        	<table class="table table-striped table-bordered">
	        		<thead>
		        		<tr>
		        			<th>#</th>
		        			<th>Менеджер</th>
		        			<th>Клиент</th>
		        			<th>Дом</th>
		        			<th>Квартира</th>
		        			<th>Планировка</th>
		        			<th sort-item="status_update_time" class="active-sort reverse">Дата установки</th>
		        			<th sort-item="status_time">Дата окончания этапа</th>
		        		</tr>
	        		</thead>
	        		<tbody>
		        		<!-- <tr dir-paginate="reserve in result=(reserves | ReservesFilter : filter : clients) | orderBy: isReverse+activeItem | itemsPerPage: 20 track by $index"> -->
		        		<tr dir-paginate="brone in result=(brones | BronesFilter : filter) | orderBy: isReverse+activeItem | itemsPerPage: 20 track by $index"
		        			ng-class="{'danger': isOverdue(brone.status_time)}"
							current-page="currentPage">
			        		<td>{{$index + (currentPage-1)*20 + 1}}</td>
			        		<td>{{users[brone.user].name}}</td>
			        		<td><a href="#/clients/{{brone.client}}">{{clients[brone.client].fio}}</a></td>
			        		<td><a href="#/buildings/{{brone.building.id}}/sections/">{{brone.building.adres}}, {{brone.building.number}}</a></td>
			        		<td><a href="#/flats/{{brone.id}}">{{brone.number}}</a></td>
			        		<td>{{brone.plan.name}}</td>
			        		<td>{{brone.status_update_time  | date:'dd.MM.yyyy' }}</td>
			        		<td>{{brone.status_time  | date:'dd.MM.yyyy' }}</td>
			        	</tr>
			        </tbody>
			    </table>

			     <div class='row'>
	        		<dir-pagination-controls class='pull-right'></dir-pagination-controls>
	        	</div>

			</div>
		</div>
	</div>
</div>
