 <div class="row">
	<div class="col-lg-12">
		<div class="widget-bg-color-icon card-box">

			<div class="row page-header m-0 m-b-15">
				<div class="col-lg-6 p-0">
					<div class="row">
						<div class="col-lg-12">
							<h4 class="text-dark">Квартира №57, подъезд №1, подъезд 2</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3"><a href='#'>редактировать</a></div>
						<div class="col-lg-3"><a href='#'>найти похожие</a></div>
					</div>
				</div>
				<div class="col-lg-6 text-right">
						<h4 class="text-dark">Менеджер: Оксана Филипова</h4>
						Устная бронь
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 m-r-10" >
					<table class="table table-bordered about-flat">
						<thead>
							<tr><th colspan="2">Информация о квартире</th></tr>
						</thead>
										
						<tbody>
							<tr>
								<td>Планировка</td>
								<td>11</td>
							</tr>
							<tr>
								<td>Общая площадь</td>
								<td>11</td>
							</tr>
							<tr>
								<td>Жилая площадь</td>
								<td>11</td>
							</tr>
							<tr>
								<td>Балкон лоджия</td>
								<td>11</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="col-lg-4">
					<div class="row">
						<table class="table m-b-30">
							<thead>
								<tr>
									<th>Стоимость квартиры</th>
									<th>Кв. метр</th>
									<th>Общая</th>
								</tr>
							</thead>
											
							<tbody>
								<tr>
									<td>В рассрочку</td>
									<td>34324234</td>
									<td>234324</td>
								</tr>
								<tr class="warning">
									<td><mark>В рассрочку по акции</mark></td>
									<td><mark>324324</mark></td>
									<td><mark>324234</td>
								</tr>
								<tr>
									<td>При 100% оплате</td>
									<td>234324</td>
									<td>13243241</td>
								</tr>
								<tr class="warning">
									<td><mark>При 100% оплате по акции</mark></td>
									<td><mark>234324</mark></td>
									<td><mark>132432</mark></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row">
						<table class="table">
							<thead>
								<tr>
									<th>Действующие акции</th>
									<th>Срок действия</th>
								</tr>
							</thead>
											
							<tbody>
								<tr>
									<td>
										<div class="checkbox m-0">
	                                        <input id="checkbox0" type="checkbox">
	                                        <label for="checkbox0">
	                                           Бронь на сайте
	                                        </label>
	                                    </div>
									</td>
									<td>бессрочно</td>
								</tr>
								<tr>
									<td>
										<div class="checkbox m-0">
	                                        <input id="checkbox0" type="checkbox">
	                                        <label for="checkbox0">
												Акция "Бедный бомж"	
											</label>
	                                    </div>
									</td>
									<td>до 11.11.2016</td>
								</tr>
								<tr>
									<td>
										<div class="checkbox m-0">
	                                        <input id="checkbox0" type="checkbox">
	                                        <label for="checkbox0">
	                                        Акция "Еврейская семья"
	                                        </label>
	                                    </div>
	                                </td>
									<td>до 11.11.2016</td>
								</tr>
							</tbody>
						</table>
						<button type="button" class="btn btn-success waves-effect waves-light">Редактировать</button>
					</div>
				</div>

				<div class="col-lg-4">
					
				</div>

			</div>

			<div class="row">
				<div class="col-lg-8">Статус квартиры</div>
				<div class="col-lg-4">Описание</div>
			</div>

		</div>
	</div>
</div>

